@import "tailwindcss";

@theme {
  --font-display: "Fraunces", serif;
  --font-body: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;

  --color-swiss-50: #FCEAEA;
  --color-swiss-100: #F8C5C7;
  --color-swiss-200: #F09A9D;
  --color-swiss-300: #E86165;
  --color-swiss-400: #E51E25;
  --color-swiss-500: #B42328;
  --color-swiss-600: #8E1B1F;
  --color-swiss-700: #681416;
  --color-swiss-800: #430D0E;
  --color-swiss-900: #2B0809;

  --color-text-primary: #171616;
  --color-text-secondary: #6B7280;
  --color-page-bg: #F9FAFB;
}

html {
  font-family: var(--font-body);
  color: var(--color-text-primary);
  background-color: var(--color-page-bg);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
